<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuzhiyun.chemistry">

    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="ANDROID.PERMISSION.WRITE_APN_SETTINGS" />

    <application
        android:name=".model.Application.App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.ExamActivity"
            android:label="@string/title_activity_exam"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.OutlineActivity"
            android:label="@string/title_activity_outline"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.ChaptersActivity"
            android:label="@string/title_activity_chapters"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.TypeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.LoginActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.LoginRegisterActivity"
            android:label="@string/title_activity_login_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- <activity -->
        <!-- android:name=".view.activity.TestActivity" -->
        <!-- android:label="@string/title_activity_test" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity
            android:name=".view.activity.DataActivity"
            android:label="@string/title_activity_data"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".view.activity.CopyrightActivity"
            android:label="关于作者"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".view.activity.UserListActivity"
            android:label="@string/title_activity_user_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
